.base-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--LightGreyColor);
}

.top {
  display: flex;
  width: 100vw;
  flex-shrink: 0;
  border: red 2px solid;
}

.top-left {
  /* border: orange 2px solid; */
}

.top-center {
  border: yellow 2px solid;
  font-size: 2.5rem;
}

.top-right {
  display: flex;
  margin-left: auto; /* Pushes this item to the right */
  padding-right: 0.5rem;
  border: orange 2px solid;
}

.nav-icon {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;
  border: none;
}

.nav-icon .material-icons {
  font-size: 3rem;
  color: var(--Color2);
}

.nav-icon.active .material-icons {
  color: var(--Color4);
}

.nav-icon.power-icon .material-icons {
  color: var(--StopColor);
}

.main-content {
  overflow: hidden auto;  
  display: flex;
  justify-content: center;
  border: yellow 2px solid;
}

.bottom { 
  display: flex;
  margin-top: auto; /* Pushes this item to the bottom */
  width: 100vw;
}

.bottom-left {
  /* border: green 2px solid; */
}

.bottom-left .txt-room-name {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0;
}

.bottom-right {
  display: flex;
  margin-left: auto; /* Pushes this item to the right */
  bottom: 0.5rem;
  right: 1rem;
  z-index: 100;
  /* border: yellow 2px solid; */
}
