.splash-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
  position: relative;
}

.splash-language-selector {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  cursor: default;
}

.splash-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.splash-logo-image {
  max-width: 60%;
  object-fit: contain;
}

.splash-text {
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.splash-prompt {
  margin: 0;
  padding: 1rem 2rem;
  /* border: red 1px solid; */
}
