<div class="language-selector">
  <button class="language-button" (click)="toggleLanguageList()">
    {{ currentLanguage() }}
  </button>

  @if (showLanguageList()) {
    <div class="language-list">
      <div class="language-list-arrow"></div>
      @for (language of availableLanguages(); track language) {
        <button
          class="language-option"
          [class.selected]="language === currentLanguage()"
          (click)="selectLanguage(language)">
          {{ language }}
        </button>
      }
    </div>
  }
</div>
