.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--DarkGreyColor);
  overflow: hidden;
}

/* 16:9 aspect ratio container
.app-container > * {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

 Maintain 16:9 aspect ratio 
@media (min-aspect-ratio: 16/9) {
  .app-container > * {
    height: 100vh;
    width: calc(100vh * 16 / 9);
  }
}

@media (max-aspect-ratio: 16/9) {
  .app-container > * {
    width: 100vw;
    height: calc(100vw * 9 / 16);
  }
}
*/