.home-card {
  padding: 1rem 0rem;
  margin: 0, auto;
  /* border: blueviolet 2px solid; */
}

.source-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  /* border: pink 2px solid; */
}

.source-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0; /* Prevent items from shrinking */
}

.source-button {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: var(--BorderRadius);
}

.source-button .material-icons {
  font-size: 6rem;
}

.source-button.selected {
  background-color: var(--Color4);
  color: var(--LightColor);
}

.source-button.selected .material-icons {
  color: var(--LightColor);
}

.source-item .txt-source-name {
  font-size: 1.3rem;
  padding: 0.5rem;
  text-align: center;
}
