.home-card {
  padding: 2rem 3rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.source-buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.source-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.source-button {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: var(--BorderRadius);
}

.source-button .material-icons {
  font-size: 6rem;
}

.source-button.selected {
  background-color: var(--Color4);
  color: var(--LightColor);
}

.source-button.selected .material-icons {
  color: var(--LightColor);
}
